body, html{
	margin:0;
	padding:0;
}
.main{
	max-width:1200px;
	margin:0 auto;
	overflow:hidden;
	background:lightgray;
}
.content{
	float:left;
	width:100%;
	margin-right:-210px;
}
.content-inner{
	margin-right:210px;
}
.sidebar{
	background:red;
	float:right;
	width:200px;
}
.menu{
	width:100%;
	background:blue;
}
.menu ul{
	margin:0; 
	padding:0;
}
.menu ul li{
	display:inline-block;
	*display:inline;
	zoom:1;
	margin:0; 
	padding:0;
}
.menu ul li a{
	display:block;
	padding:20px;
	color:#fff;
}
.footer{
	width:100%;
	background:yellow;
	text-align:center;
}

@media screen and (max-width: 700px) {
	.sidebar, .content-inner, .content{
		float: none;
		width: 100%;
		margin-right:0;
	}
}