.calculadora{
    height: 500px;
    width: 420px;
    background-color: blueviolet;
    border-radius: 8px;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 1fr repeat(5, 48px);
}