body{
    background: url('../../images/2900897.jpg');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 1450px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

form{
    width: 1000%;
    max-width: 350px;
    margin-right: 30px;
    display: block;
    margin-top: 100px;
}

form input{
    box-shadow: 5px 8px 8px #b4b2b2;
}

h1{
    font-size: 32px;
    margin-bottom: 32px;
}

.containerLogin{
    height: 850px;
    width: 600px;
    overflow: hidden;
    margin-right: 160px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.containerLogin img {
    max-width: 300px;
    max-height:212px;
    width: auto;
    height: auto;
}

.button{
    box-shadow: 5px 10px 18px rgb(245, 125, 145);
}

.back-link{
    display: flex;
    align-items: center;
    margin-top: 40px;
    margin-left: 45px;
    color: #41414d;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
    transition: opacity 0.2s;
  }
  
  .back-link svg{
    margin-right: 8px;
  }
  
  .back-link:hover{
    opacity: 0.8;
  }

  .back-link1{
    display: flex;
    align-items: center;
    margin-top: 30px;
    color: #E02041;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
    transition: opacity 0.2s;
  }
  
  .back-link1:hover{
    opacity: 0.8;
  }