.button{
    font-size:  2.0em;
    background-color: #f0f0f0;
    border: none;
    border-right: solid 1px #888;
    border-bottom: solid 1px #888;
    outline: none;
}

.button:active {
    background-color: #ccc;
}

/*remove outline pontilhado no firefox*/
.button::-moz-focus-inner {
    border: 0;
}
   
.button.double {
    grid-column: span 2;
}

.button.triple {
    grid-column: span 3;
}
   
.button.operation {
    background-color: #fa8231;
    color: #fff;
}
  
.button.operation:active {
    background-color: #fa8231cc;
}