:root {
    --primary-color: rgb(13, 106, 134);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
}

.container {
    max-width: 640px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
}