body {
	background: url('../../images/3529668.jpg');
	background-repeat: no-repeat;
	background-position: bottom right;
	background-size: 50%;
	background-color: #FFFFFF;
	height: 100vh;
}

h1{ 
	margin-bottom: 50px;
	color: #191970;
}

.form-container{
	width: 500px;
	float:left;
	margin-top: 250px;
	margin-left: 250px;

}

.form-container .form{

}